* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Teko", sans-serif;
}

header {
  text-align: center;
}

header #logo img {
  height: 120px;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  padding: 10px;
}

header nav ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #001942;
}

header nav ul li:hover {
  background-color: #B3E5FC;
}

