* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Teko", sans-serif;
}

header {
  text-align: center;
}
header #logo img {
  height: 120px;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  display: inline-block;
  padding: 10px;
}
header nav ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #001942;
}
header nav ul li:hover {
  background-color: #B3E5FC;
}
header nav ul li.active {
  background-color: #B3E5FC;
}

#home .foto-home {
  height: 800px;
}
#home .foto-home img {
  height: 800px;
  width: 100%;
}
#home .comment {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: #001942;
  padding: 20px 0;
}
#home .comment h2 {
  color: white;
  font-size: 18px;
  font-weight: 700;
}

#products {
  background-color: #B3E5FC;
  padding-bottom: 40px;
}
#products .comment {
  padding: 10px 0 20px 0;
  color: white;
  background-color: #001942;
  font-family: "Open Sans", sans-serif;
}
#products .comment h2 {
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
}
#products .comment p {
  text-align: center;
  font-size: 14px;
}
#products h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  padding: 20px;
  color: #404040;
}
#products .container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
#products .card {
  height: 250px;
  margin: 10px 10px 0 0;
  position: relative;
}
#products .card img {
  height: 250px;
}
#products .card .layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
}
#products .card .layer .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#products .card .layer .title a {
  color: #001942;
  text-decoration: none;
  font-size: 24px;
}
#products .card .layer .title hr {
  margin: auto;
  border: 1px solid #001942;
  width: 30px;
}
#products .card:hover .layer {
  display: block;
}

#dettaglio {
  background-color: #B8DAE4;
}
#dettaglio h2 {
  padding: 20px 0;
  text-align: center;
  font-size: 23px;
  color: #001942;
}
#dettaglio .foto {
  width: 100%;
}
#dettaglio .foto img {
  width: 100%;
}
#dettaglio .text p {
  color: #001942;
  font-size: 20px;
  line-height: 1.6;
}

footer {
  padding-top: 80px;
}
footer .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding-bottom: 80px;
}
footer .row div {
  width: calc(100% / 4);
}
footer .row .text h3 {
  font-size: 26px;
  color: #001942;
}
footer .row .text a {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #404040;
  text-decoration: none;
  display: block;
}
footer .bottom-image {
  width: 100%;
}
footer .bottom-image img {
  width: 100%;
}