.foto-uno{
  img{
    height: 800px;
    width: 100%;
  }
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.card{
  width: calc(100% / 3);
  img{
    width: 100%;
  }
}
